<label class="label">Locations</label>

<div class="map-container">
  <div id="locations" class="locations"></div>
  <input type="hidden" id="hiddenLocations" name="project[location_coordinates]" value="<%= coordinates %>"/>
  <div class="input-container">
    <input type="text" id="searchInput"  class="controls" placeholder="Search Box"/>
    <p onclick="addLocation()" class="btn">Add</p>
  </div>
  <div id="map" class="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyesbQMyKVVbBgKVi2g6VX7mop2z96jBo&sensor=false&libraries=places"></script>
<script type="text/javascript">
  var locations = {};

  // Set current locations when in edit
  var hiddenLocations = JSON.parse(document.getElementById('hiddenLocations').value);
  for (var j = 0; j < hiddenLocations.length; j++) {
    var itId = Math.random();
    locations[itId] = hiddenLocations[j];
    setLocationHtml(itId, hiddenLocations[j].lat, hiddenLocations[j].lng);
  }

  var map = new google.maps.Map(document.getElementById('map'),{
    center:{
    lat: 12.9715987,
    lng: 77.59456269999998
    },
    zoom: 12
  });

  var marker = new google.maps.Marker({
    position: {
      lat: 12.9715987,
      lng: 77.59456269999998
    },
    map: map,
    draggable:true
  });

  var searchBox = new google.maps.places.SearchBox(document.getElementById('searchInput'));

  google.maps.event.addListener(searchBox , 'places_changed' , function() {
      var places = searchBox.getPlaces();
      var bounds =  new google.maps.LatLngBounds();
      var i, place;

      for( i = 0; i < places.length; i++) {
        bounds.extend(places[i].geometry.location);
        marker.setPosition(places[i].geometry.location);
      }
      map.fitBounds(bounds);
      map.setZoom(12);
  });

  google.maps.event.addListener(map , 'drag' , function() {
    marker.setPosition(map.getCenter());
  });

  google.maps.event.addListener(marker , 'click' , function() {
    addLocation();
  });

  function setLocationHtml(id, lat, lng) {
    var location = '<span id="' + id +  '" class="loc-item">' + lat + ', ' + lng + '<span class="remove" onclick="onRemove(this)">x</span></span>';

    appendHtml(document.getElementById('locations'), location);
  }

  function addLocation() {
    var lParams = marker.getPosition();
    var id = Math.random();

    setLocationHtml(id, lParams.lat(), lParams.lng());
    locations[id] = { lat: lParams.lat(), lng: lParams.lng() };
    setLocationsValues();
  }

  function onRemove(el) {
    var locIdRm = el.parentElement.id;
    var parent = document.getElementById("locations");
    var child = document.getElementById(locIdRm);
    var newLocations = {};

    parent.removeChild(child);
    for (var k in locations) {
      if (k !== locIdRm) {
        newLocations[k] = locations[k];
      }
    }
    locations = newLocations;
    setLocationsValues();
  }

  function setLocationsValues() {
    var arrLocations = [];
    var hidden = document.getElementById('hiddenLocations');

    for (var k in locations) {
      arrLocations.push(locations[k]);
    }
    hidden.value = JSON.stringify(arrLocations);
  }

  function appendHtml(el, str) {
    var div = document.createElement('span');

    div.innerHTML = str;
    while (div.children.length > 0) {
      el.appendChild(div.children[0]);
    }
  }
</script>
